
@{
    ViewBag.Title = "Index";
}

<div id="error404">
    <!--firstSection-->
    <div class="firstSection error-4">
        <!--container-->
        <div class="container">
            <!--row-->
            <div class="row">
                <!--h2-->
                <h2>
                    Opps, This page Could not be found
                    <span>This page you are looking for might have been removed </span>
                </h2>
                <!--/h2-->
                <!--h3-->
                <div class="e4">
                    <p class="color-comb1">4</p>
                    <p class="color-comb2">0</p>
                    <p class="color-comb3">4</p>

                </div>
                <!--/h3-->
            </div>
            <!--/row-->
        </div>
        <!--/container-->
    </div>
    <!--/firstSection-->
</div>

